<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="makegento:module" xsi:type="object">Opengento\MakegentoCli\Console\Command\MakegentoModuleCommand</item>
                <item name="makegento:create-db" xsi:type="object">Opengento\MakegentoCli\Console\Command\MakegentoCommand</item>
                <item name="makegento:crud" xsi:type="object">Opengento\MakegentoCli\Console\Command\MakegentoCrudCommand</item>
                <item name="make:tools" xsi:type="object">Opengento\MakegentoCli\Console\Command\HelperToolsCommand</item>
                <item name="makegento:entity" xsi:type="object">Opengento\MakegentoCli\Console\Command\MakegentoEntityCommand</item>
                <item name="makegento:model" xsi:type="object">Opengento\MakegentoCli\Console\Command\MakegentoModelCommand</item>
                <item name="make:generate" xsi:type="object">Opengento\MakegentoCli\Console\Command\HelperCodeCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Opengento\MakegentoCli\Console\Command\MakegentoCommand">
        <arguments>
            <argument name="state" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="yesNoQuestionPerformer" xsi:type="object">Magento\Framework\Console\QuestionPerformer\YesNo\Proxy</argument>
        </arguments>
    </type>
    <type name="Opengento\MakegentoCli\Console\Command\MakegentoEntityCommand">
        <arguments>
            <argument name="makeEntity" xsi:type="object">Opengento\MakegentoCli\Maker\MakeEntity\Proxy</argument>
            <argument name="moduleSelector" xsi:type="object">Opengento\MakegentoCli\Utils\ConsoleModuleSelector\Proxy</argument>
        </arguments>
    </type>
    <type name="Opengento\MakegentoCli\Console\Command\MakegentoModelCommand">
        <arguments>
            <argument name="makeModel" xsi:type="object">Opengento\MakegentoCli\Maker\MakeModel\Proxy</argument>
            <argument name="moduleSelector" xsi:type="object">Opengento\MakegentoCli\Utils\ConsoleModuleSelector\Proxy</argument>
        </arguments>
    </type>
</config>
