<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Opengento\MakegentoCli\Service\CommandIoProvider" shared="true" />
    <type name="Opengento\MakegentoCli\Service\CurrentModule" shared="true" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="makegento:module" xsi:type="object">Opengento\MakegentoCli\Console\Command\Module</item>
                <item name="makegento:crud" xsi:type="object">Opengento\MakegentoCli\Console\Command\Crud</item>
                <item name="makegento:model" xsi:type="object">Opengento\MakegentoCli\Console\Command\Model</item>
                <item name="makegento:db-schema:entity" xsi:type="object">Opengento\MakegentoCli\Console\Command\Database\Entity</item>
                <item name="makegento:db-schema:constraint" xsi:type="object">Opengento\MakegentoCli\Console\Command\Database\Constraint</item>
                <item name="makegento:db-schema:field" xsi:type="object">Opengento\MakegentoCli\Console\Command\Database\Field</item>
            </argument>
        </arguments>
    </type>
    <type name="Opengento\MakegentoCli\Console\Command\Database\Entity">
        <arguments>
            <argument name="makeEntity" xsi:type="object">Opengento\MakegentoCli\Maker\MakeEntity\Proxy</argument>
            <argument name="moduleSelector" xsi:type="object">Opengento\MakegentoCli\Utils\ConsoleModuleSelector\Proxy</argument>
        </arguments>
    </type>
    <type name="Opengento\MakegentoCli\Console\Command\Database\Field">
        <arguments>
            <argument name="makeEntity" xsi:type="object">Opengento\MakegentoCli\Maker\MakeField\Proxy</argument>
            <argument name="moduleSelector" xsi:type="object">Opengento\MakegentoCli\Utils\ConsoleModuleSelector\Proxy</argument>
        </arguments>
    </type>
    <type name="Opengento\MakegentoCli\Console\Command\Database\Constraint">
        <arguments>
            <argument name="makeEntity" xsi:type="object">Opengento\MakegentoCli\Maker\MakeConstraint\Proxy</argument>
            <argument name="moduleSelector" xsi:type="object">Opengento\MakegentoCli\Utils\ConsoleModuleSelector\Proxy</argument>
        </arguments>
    </type>
    <type name="Opengento\MakegentoCli\Console\Command\Model">
        <arguments>
            <argument name="makeModel" xsi:type="object">Opengento\MakegentoCli\Maker\MakeModel\Proxy</argument>
            <argument name="moduleSelector" xsi:type="object">Opengento\MakegentoCli\Utils\ConsoleModuleSelector\Proxy</argument>
        </arguments>
    </type>
    <type name="Opengento\MakegentoCli\Console\Command\Crud">
        <arguments>
            <argument name="makeModel" xsi:type="object">Opengento\MakegentoCli\Maker\MakeCrud\Proxy</argument>
            <argument name="moduleSelector" xsi:type="object">Opengento\MakegentoCli\Utils\ConsoleModuleSelector\Proxy</argument>
            <argument name="consoleCrudEntitySelector" xsi:type="object">Opengento\MakegentoCli\Utils\ConsoleCrudEntitySelector\Proxy</argument>
        </arguments>
    </type>
</config>
